{
  box-sizing: border-box;
}

{
  font-family: Times New Roman;
  padding: 20px;
}

{
.header {
  padding: 30px;
  font-size: 30px;
  text-align: center;
  background: #CBDEF7;
  border: 4px solid CornflowerBlue;
}

  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
  .alert { 
    color: DarkSlateBlue; 
    background-color: SkyBlue; 
    font-size: 16px; 
    font-family: monospace; 
    font-weight: bold; 
    padding: 1rem; 
    margin-bottom: 0.5rem; 
    margin-top: 0.5rem;
  }

.alert img { 
  float: left; 
  height: 20px; 
  margin-right: 0.5rem; 
  
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
